.cardBackground {
    background-color: rgb(0, 0, 0);
    color: rgb(248, 248, 248);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    width: 350px;
    height: 450px;
}

.cardBackground:hover .cardImage{
    transition: all 200ms;
    border-radius: 40px;
    filter: grayscale(0);
    transform: scale(1.05);
}

.cardImage{
    border-radius: 999px;
    transition: all 200ms ease-in-out;
    filter: grayscale(1);
    width: 90%;
}

.cardBackground:hover .cardImage{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.cardTitle{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: 0px 3px 20px #000000;
    width: 90%;
    text-align: center;
}

.cardText{
    width: 90%;
    text-align: center;
    color: aqua;
    font-size: 22px;

}