.wrapInfo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color:  rgb(0, 0, 0);
    padding: 20px;
    border: 4px solid #0004ff;
    border-radius: 20px;
    box-shadow: 0px 5px 20px #ff0000;
    gap: 20px;
    transition: 200ms all ease-in-out;
    filter: grayscale(1);
    letter-spacing: 2px;
    
}
.wrapInfo:hover{
    cursor: pointer;
    filter: grayscale(0);
    color: rgb(255, 255, 255);
}

.wrapInfo p, h2{
    gap: 10px;
    display: flex;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1px;
    text-shadow: 0px 2px 20px #ff0000;
}

.wrapInfo img{
    border-radius: 20px;
    
}

