.title{
    font-size: 2rem;
    text-shadow: 0px 3px 20px #ffffff;
    letter-spacing: 3px;
    text-shadow: -2px 2px 8px white;
    text-align: center;
    color: rgb(236, 159, 58);
    margin-top: 1rem;
    width: 100%;
}

@media (width >= 768px){
    .title{
        font-size: 4rem;
    }
}