.title{
    font-size: 2rem;
    text-shadow: 0px 3px 20px #ffffff;
    letter-spacing: 5px;
    text-shadow: -6px 2px 8px rgb(226, 226, 226);
    text-align: center;
    color: rgb(255, 153, 0);
    margin-top: 1rem;
    width: 100%;
    padding: 5px;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    gap: 20px;
    padding: 20px;
    margin-top: 2vh;
    border-radius: 40px;
    height: 100%;
    width: 100%;
}

@media (width >= 768px){
    .title{
        font-size: 4rem;
    }
}