.title{
    font-size: 2rem;
    text-shadow: 0px 3px 20px #ffffff;
    letter-spacing: 5px;
    text-shadow: -6px 2px 8px rgb(226, 226, 226);
    text-align: center;
    color: rgb(0, 238, 255);
    margin-top: 1rem;
    width: 100%;
    padding: 5px;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff0000;
    gap: 20px;
    padding: 20px;
    margin-top: 2vh;
    border-radius: 40px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.infoBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 999px;
    opacity: 0.7;
    transition: all 200ms ease-in-out;
}

.infoBtn:hover{
    box-shadow: rgba(70, 57, 241, 0.4) 5px 5px, rgba(46, 240, 175, 0.3) 10px 10px, rgba(46, 240, 46, 0.2) 15px 15px, rgba(240, 140, 46, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    cursor: pointer;
    opacity: 1;
}




@media (width >= 768px){
    .title{
        font-size: 4rem;
    }
}