
/* */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('/Wpmobile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0;
  width: 50%;
  border-radius: 5px;
  border: none;
  border: 2px solid #ff0000;
}

 
.data{
  color: white;
}
/* O @media serve para o desktop*/ 
@media (width >= 768px){
  body{
    background-image: url('/WpDesktop1920x1200.jpg');
  }
  input{
    width: 300px;
    font-size: 18px;
  }
  
}
